<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
     <link rel="icon" href="../../images/logo/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <title>BlackFish admin</title>
  </head>
  <body>
    <header><h1>BlackFish Admin </h1><img src="/images/logo/logo.png" alt="" /></header>
    {{{body}}}
    <footer class="footer" id="footer">

      <div class="footer__container__uno">
        <div class="footer__logo">
          <a href=""><img
              src="/images/logo/logo.png"
              alt=""
            /></a>
        </div>
      </div>

      <div class="footer_container__dos">

      </div>

      <div class="footer_container__tres">

        <p>Nuestras Redes</p>

        <div class="nuestras__redes"><a class="" href="#"><i
              class="fa-brands fa-whatsapp"
            ></i>
            Whatsapp</a></div>

        <div class="nuestras__redes"><a class="" href="#"><i
              class="fa-brands fa-instagram"
            ></i>
            Instagram</a></div>

        <div class="nuestras__redes"><a
            class="text-secondary text-decoration-none"
            href="#"
          ><i class="fa-brands fa-facebook"></i> Facebook</a></div>

      </div>

      <div class="footer__copy">
        <p class="">Copyright - All rights reserved &#169 2022</p>
      </div>

    </footer>

  </body>
</html>