<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../../images/logo/logo.png" />
    <title>BlackFish Tatto Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
