:root{
    --color-uno:#f9db16;
    --color-dos:#13110e;
    --color-tres: #ececda;
}

.formulario{
    width: 340px;
    height: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px 1px #000;
    position: relative;
    top: 100px;
}

.formulario__titulo{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    color: aliceblue;
}

.formulario__input, .formulario__label, .formulario__submit{
    display:block;
    width: 100%;
    font-size: 1.3em;
    margin-top: 30px;
}

.formulario__input {
    padding: 20px;
    color: var(--color-tres);
    font-size: 1.7em;
    margin-bottom: 40px;
    background:transparent;
    outline:1px solid #f9db16;
}
.formulario__input:focus + .formulario__label{
    margin-top: -137px;
    color:#f9db16;
    opacity: 1;
}

.formulario__label {
    padding-left: 15px;
    color: #fafafa;
    position: absolute;
    opacity: 0.5;
    margin-top: -90px;
    z-index: -20;
    transition: all 0.2s ease;
}

.formulario__submit{
    border-color:var(--color-dos);
    background-color: var(--color-uno);
    color: var(--color-dos);
    border-radius: 10px;
    font-weight: 900;
    width: 120px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.formulario__submit:hover{
    color: var(--color-dos);
    border-color:var(--color-dos);
    background-color: #c5ac0b;

}

.container_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fijar{
    margin-top: -137px;
}

.login{
    position: relative;
    top: 55px;
    color: var(--color-uno);
    font-size: 3em;
    text-align: center;
}


@media screen and (min-width: 830px){

    .formulario{
        width: 30vw;
        height: 400px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 0 20px 1px #000;
        position: relative;
        top: 100px;
    }
    .formulario__submit{
        border-color:var(--color-dos);
        background-color: var(--color-uno);
        color: var(--color-dos);
        border-radius: 10px;
        width: 180px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        
    }

}