:root {
  --color-uno: #f9db16;
  --color-dos: #13110e;
  --color-tres: #ececda;
}

body {
  background-color: var(--color-dos);
}

.navTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  background-color: rgba(20, 20, 20, 0);
  transition: all 0.3s ease;
  position: relative;
}
.navTop h1 {
  display: none;
}

.navTop img {
  width: 80px;
  height: 80px;
  transition: all 0.3s ease;
}

.navTop img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.navTop .boton_menu {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: 15px;
  transition: all 0.3s ease;
  filter: invert(100%) sepia(84%) saturate(5842%) hue-rotate(340deg)
    brightness(100%) contrast(96%);
}

.barramenu {
  width:100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(20, 20, 20, 0.9);
  right: 0;
  top: 80px;
  z-index: 3;
  transition: all 0.3s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1em;
  margin: 20px 20px;
  list-style: none;
  right: 0px;
  gap: 40px;
  padding: 0;
}

.barramenu li a {
  text-decoration: none;
  font-size: 1.5em;

  color: var(--color-uno);
}

.barramenu li a:visited {
  color: var(--color-uno);
}

.barramenu li a:link {
  color: var(--color-uno);
}

.barramenu li:hover {
  background-color: rgba(91, 91, 91, 0.237);
  border-bottom: 1px solid var(--color-uno);
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.barramenu li a:hover {
  opacity: 1;
  font-size: 1.6rem;
}



.menu_active {
  transform: translate(-1000px);
}

.active {
  opacity: none;
  rotate: -90deg;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 830px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.2rem;
    margin: 0px 0px;
    list-style: none;
    right: 0px;
    gap: 40px;
  }

  .navTop {
    justify-content: center;
  }
  .navTop .logo:hover{
    transform: scale(1.1);
    rotate: 30deg;
  }

  .navTop .logo{
    width: 80px;
    height: 80px;
  }

  .boton_menu {
    display: none;
  }
  .barramenu {
    width: 100%;
    height: 70px;
    z-index: 3;
    background-color: rgba(20, 20, 20, 0);
    transition: all 0.3s ease;
  }

  .menu_active {
    transform: none;
  }

  .barramenu a:hover {
    transition: all 0.5s ease;
  }
}
